<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">
    
    <!-- live2d看板猫咪 start -->
    <script src="/live2dw/lib/L2Dwidget.min.js"></script>
    <script src="/live2dw/lib/L2Dwidget.0.min.js"></script>
    <script src="/js/Live2dCatConfig.js"></script>
    <!-- live2d看板猫咪 end -->
    
    <!-- 我添加的网页鼠标动态触击式线条效果js，里面增加了在移动终端不加载该效果 start -->
    <script src="/js/MouseDynamicEffect.js"></script>
    <!-- 我添加的网页鼠标动态触击式线条效果js，里面增加了在移动终端不加载该效果 end -->
    
    {% include nav.html %}

    {{ content }}

    <!-- 我添加的二维码扫描html start -->
    {% include QR.html %}
    <!-- 我添加的二维码扫描html end -->
    
    {% include footer.html %}

    <!-- 长者F12控制台log打印 start -->
    <script src="/js/hamo.js"></script>
    <!-- 长者F12控制台log打印 end -->
    
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
