<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">
    
    <!-- 我添加的网页鼠标动态触击式线条效果js -->
    if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
    document.write('<script src="/js/MouseDynamicEffect.js"></script>');
    }
    
    {% include nav.html %}

    {{ content }}

    <!-- 我添加的二维码扫描html -->
    {% include QR.html %}
    
    {% include footer.html %}


<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
